html {
  scroll-behavior: smooth;
}

.navbar__wrap {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 64rem) {
  .navbar__wrap {
    margin-bottom: unset;
  }
}

.hidden-for-mobile {
  display: none;
}

@media screen and (min-width: 64rem) {
  .hidden-for-mobile {
    display: block;
  }
}

.hidden-for-desktop {
  position: absolute;
  z-index: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 64rem) {
  .hidden-for-desktop {
    display: none;
  }
}

.is-small {
  font-size: 0.875rem;
}

.play-button-wrapper {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.hero__play-button--mobile {
  margin-top: unset;
}

#sales-page {
  position: relative;
  margin-top: 11.875rem;
}

@media screen and (min-width: 64rem) {
  #sales-page {
    margin-top: 4.5rem;
  }
}

.navigation {
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: black;
  height: 14.375rem;
}

@media screen and (min-width: 64rem) {
  .navigation {
    height: 4.5rem;
    padding: unset;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 64rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 64rem) {
  .navigation__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 64rem) {
  .countdown {
    flex-direction: row;
    margin-bottom: unset;
  }
}

.countdown__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countdown__heading {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  .countdown__heading {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-right: 20px;
  }
}

.days__wrapper,
.hours__wrapper,
.minutes__wrapper,
.seconds__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

@media screen and (min-width: 64rem) {
  .days__wrapper,
  .hours__wrapper,
  .minutes__wrapper,
  .seconds__wrapper {
    margin: 0 1rem;
  }
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 0px;
}

@media screen and (min-width: 64rem) {
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.days__label,
.hours__label,
.minutes__label,
.seconds__label {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}

@media screen and (min-width: 64rem) {
  .days__label,
  .hours__label,
  .minutes__label,
  .seconds__label {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero__play-button,
.hero__play-button--mobile {
  margin-top: auto;
  width: 8.125vw;
  height: 8.125vw;
  background-image: url("../img/red_play_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__bonus {
  font-size: 1.35rem;
  line-height: 1.625;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}

.hero__cta-wrapper,
.cta__wrapper {
  border: 2px dashed #ff3247;
  padding: 20px;
  text-align: center;
}

.hero__cta-wrapper {
  margin-bottom: 60px;
  color: #04273c;
}

.cta__wrapper {
  margin-top: 40px;
}

.cta__copy {
  margin-top: 20px;
}

.hero__subtitle {
  margin-top: unset;
}

.red {
  font-weight: 700;
  color: #ff3247;
}


/* JOSEPHS ADDED STYLES */

/* HEADER/NAV */

.navigation .btn-primary{
  background: #306471;
  border: #306471;
}

.navigation .btn-primary:hover{
  background: #ff3247;
  border-radius: 0;
}

.navigation{
  padding-top: 25px;
  padding-bottom: 70px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.05rem;
}

.countdown__heading {
  font-size:1.05rem;
  margin-top: 0.3%;
}

/* MOBILE RESPONSIVENESS */

@media(max-width:767px){

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.15rem;
}

.countdown__wrapper{
  margin-top: 25px;
}

.navigation{
  padding-top: 25px;
  padding-bottom: 20px;
}

.countdown__heading{
  line-height: 1.6;
}

}

/* HERO SECTION */
/* styles for hero section */

.hero--sales .btn--hero-sales:hover{
  background: #f54b5d;
  border: none !important;
  border-radius: 0;
}

.hero__cta-wrapper{
  border: 5px dashed #ff3247;
}

/* FEATURE SECTION */
/* styles for feature section new items */


ul.form-list span{
  font-weight:800;
}

ul.form-list{
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 0.5%;
}

li.list-item-1{
  margin-top: 3%;
  line-height: 1.75;
}

li.list-item-2{
  margin-top: 3%;
  line-height: 1.75;
}

li.list-item-3{
  margin-top: 3%;
  line-height: 1.75;
}

.feature .btn-primary{
  font-size: 1rem;
  padding: 15px 28px
}

.feature .btn-primary:hover{
  color:#04273c;
  background: rgb(242, 242, 242);
  border: 2px #f54b5d solid;
}

.feature .btn-info{
  font-size: 1rem;
  padding: 15px 28px
}

.feature .btn-info:hover{
  color:#04273c;
  background: rgb(242, 242, 242);
  border: 2px rgb(88, 188, 196) solid;
}

/* 2560 SCREEN */

@media(width:2560px){

  ul.form-list li{
    font-size: 1.5rem!important;
  }

  ul.form-list{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0.5%;
  }

  .hero__bonus {
    font-size: 2rem !important;
  }

}

/* 1920 SCREEN */

@media(width:1920px){

  ul.form-list li{
    font-size: 1.5rem!important;
  }

  ul.form-list{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0.5%;
  }

  .hero__bonus {
    font-size: 2rem !important;
  }

}


/* MOBILE RESPONSIVENESS */

@media(max-width:767px){

  ul.form-list{
    margin-right: 0% !important;
    margin-left: -8% !important;
    margin-top: 0.5%;
  }

  ul.form-list li{
    font-size: 1.2rem!important;
  }

  li.list-item-1{
    margin-top: 8% !important;
  }

  li.list-item-2{
    margin-top: 8% !important;
  }

  li.list-item-3{
    margin-top: 8% !important;
  }
}


/* NEW TESTIMONIALS BACKUP SECTION */
/* styles for new testimonials section new items */

.hero__bonus2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}

section#testimonials-backup{
  margin-top: -9% !important;
}

section#testimonials-backup2{
  margin-top: -8% !important;
  background-color: #58bcc4;
}

/* 2560 SCREENS */

@media(width:2560px){

  section#testimonials-backup{
    margin-top: -5% !important;
  }

  section#testimonials-backup2{
    margin-top: -4.5% !important;
  }

}


/* STEP SECTION */
/* styles for new testimonials section new items */

.hero__bonus3 {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  font-weight:500;
}

span.highlight-underline{
  text-decoration: underline;
  -webkit-text-decoration-color: #ff3247;
  -moz-text-decoration-color: #ff3247;
  text-decoration-color: #ff3247;
  font-weight: 400;
}

.hero__bonus5 {
  font-size: 1.3rem !important;
  line-height: 1.5;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: -2.5% !important;
  margin-bottom: 5% !important;
  font-weight:500 !important;
  text-align: center;
}

.step .btn--step{
  font-size: 1rem;
  padding: 15px 28px;
  margin-left:-5%;
  margin-right: -5%;
}


/* PARTNER SECTION */
/* styles for partner section */

.partner--sales .btn{
  font-size: 1rem;
  padding: 15px 35px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.35;
}

.partner--sales .btn:hover{
  background: transparent ;
  border: 2px solid #f54b5d;
  color:#fff;
}

span.sale-font{
  font-weight:800;
  font: size 1.45rem;
}

ul.bonus-align{
  margin-left: -4.5%;
}
