html {
  scroll-behavior: smooth;
}

.navbar__wrap {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 64rem) {
  .navbar__wrap {
    margin-bottom: unset;
  }
}

.hidden-for-mobile {
  display: none;
}

@media screen and (min-width: 64rem) {
  .hidden-for-mobile {
    display: block;
  }
}

.hidden-for-desktop {
  position: absolute;
  z-index: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 64rem) {
  .hidden-for-desktop {
    display: none;
  }
}

.is-small {
  font-size: 0.875rem;
}

.play-button-wrapper {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.hero__play-button--mobile {
  margin-top: unset;
}

#sales-page {
  position: relative;
  margin-top: 11.875rem;
}

@media screen and (min-width: 64rem) {
  #sales-page {
    margin-top: 4.5rem;
  }
}

.navigation {
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: #306471;
  height: 14.375rem;
}

@media screen and (min-width: 64rem) {
  .navigation {
    height: 4.5rem;
    padding: unset;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 64rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 64rem) {
  .navigation__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 64rem) {
  .countdown {
    flex-direction: row;
    margin-bottom: unset;
  }
}

.countdown__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countdown__heading {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  .countdown__heading {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-right: 20px;
  }
}

.days__wrapper,
.hours__wrapper,
.minutes__wrapper,
.seconds__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

@media screen and (min-width: 64rem) {
  .days__wrapper,
  .hours__wrapper,
  .minutes__wrapper,
  .seconds__wrapper {
    margin: 0 1rem;
  }
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 0px;
}

@media screen and (min-width: 64rem) {
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.days__label,
.hours__label,
.minutes__label,
.seconds__label {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}

@media screen and (min-width: 64rem) {
  .days__label,
  .hours__label,
  .minutes__label,
  .seconds__label {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero__play-button,
.hero__play-button--mobile {
  margin-top: auto;
  width: 8.125vw;
  height: 8.125vw;
  background-image: url("../img/red_play_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__bonus {
  font-size: 1.3rem;
  line-height: 1.625;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}

.hero__cta-wrapper,
.cta__wrapper {
  border: 4px dashed #ff3247;
  padding: 20px;
  text-align: center;
}

.hero__cta-wrapper {
  margin-bottom: 60px;
  color: #04273c;
}

.cta__wrapper {
  margin-top: 40px;
}

.cta__copy {
  margin-top: 20px;
}

.hero__subtitle {
  margin-top: unset;
}

.red {
  font-weight: 700;
  color: #ff3247;
}


/* JOSEPHS ADDED STYLES */

/* HEADER/NAV */

.d-md-block{
  width: 125px;
}

.navigation{
  padding-top: 25px;
  padding-bottom: 70px;
}

.navigation .btn-primary:hover{
  background: #fff;
  border: 2px solid #ff3247;
  color: #ff3247;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.05rem;
}

.countdown__heading {
  font-size:1.05rem;
  margin-top: 0.3%;
}

/* MOBILE RESPONSIVENESS */

@media(max-width:767px){

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.15rem;
}

.countdown__wrapper{
  margin-top: 25px;
}

.navigation{
  padding-top: 25px;
  padding-bottom: 20px;
}

.countdown__heading{
  font-size:0.95rem;
  line-height: 1.6;
}

}

/* HERO SECTION */
/* styles for hero section */

.hero--sales .btn--hero-sales:hover{
  background: #f54b5d;
  border: none !important;
  border-radius: 0;
}

/* MOBILE RESPONSIVENESS */

@media(max-width:767px){

  .hero__cta-wrapper{
    border: 3px dashed #ff3247;
  }

}

/* FEATURE SECTION */
/* styles for feature section new items */

ul.form-list{
text-align: left;
}

ul.form-list span{
  font-weight:800;
  font-size:1.2rem;
}

ul.form-list{
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0.5%;
}

li.list-item-1{
  margin-top: 5%;
  line-height: 1.75;
}

li.list-item-2{
  margin-top: 5%;
  line-height: 1.75;
}

li.list-item-3{
  margin-top: 5%;
  line-height: 1.75;
}

.feature .btn-primary{
  font-size: 1rem;
  padding: 15px 28px
}

.feature .btn-primary:hover{
  color: #ff3247;
  background: rgb(242, 242, 242);
  border: 2px #f54b5d solid;
}

.feature .btn-info{
  font-size: 1rem;
  padding: 15px 28px
}

.feature .btn-info:hover{
  border: 2px #58bcc4 solid;
  color:#58bcc4;
  background: #fff;
}

/* 2560 SCREEN */

@media(width:2560px){

  ul.form-list li{
    font-size: 1.5rem!important;
  }

  ul.form-list p{
    font-size: 1.5rem!important;
    line-height: 1.5;
  }

  ul.form-list span{
    font-size: 1.8rem!important;
  }

  ul.form-list{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0.5%;
  }

  .hero__bonus {
    font-size: 2rem !important;
  }

}

/* 1920 SCREEN */

@media(width:1920px){

  ul.form-list li{
    font-size: 1.5rem!important;
  }

  ul.form-list{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0.5%;
  }

  .hero__bonus {
    font-size: 2rem !important;
  }

}


/* MOBILE RESPONSIVENESS */

@media(max-width:767px){

  ul.form-list{
    margin-right: 0% !important;
    margin-left: -8% !important;
    margin-top: 0.5%;
  }

  ul.form-list li{
    font-size: 1.05rem!important;
  }

  li.list-item-1{
    margin-top: 8% !important;
  }

  li.list-item-2{
    margin-top: 8% !important;
  }

  li.list-item-3{
    margin-top: 8% !important;
  }

  .hero__bonus {
    font-size: 1.3  rem;
  }

  .feature .btn-info{
    line-height:1.3;
  }

  ul.form-list p{
    margin-top: 2%;
    line-height: 1.6;
  }

  ul.form-list span{
    line-height: 0.2;
  }
}


/* NEW TESTIMONIALS BACKUP SECTION */
/* styles for new testimonials section new items */

.hero__bonus2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}

section#testimonials-backup{
  margin-top: -9% !important;
}

section#testimonials-backup img{
  width: 40%;
  margin-left: -1%;
}

section#testimonials-backup .section-testimonials__item--left{
  background-color: #fff;
  border: 5px dashed #04273c;
}

section#testimonials-backup .section-testimonials__item--right{
  background-color: #fff;
  border: 5px dashed #ff3247;
}

section#testimonials-backup2{
  margin-top: -5% !important;
  background-color: #58bcc4;
}

section#testimonials-backup2 .section-testimonials__item--left{
  padding-bottom: 0;
  background-color: #fff;
  border: 5px dashed #04273c;
  color:#04273c;
  padding-top: 60px;
}

section#testimonials-backup2 .section-testimonials__item--right{
  padding-bottom: 0;
  background-color: #fff;
  border: 5px dashed #ff3247;
  color:#04273c;
  padding-top: 60px;
}

section#testimonials-backup2 img{
  width: 40%;
  margin-left: -1%;
}

section#testimonials-backup2 .section-testimonials__item--right strong{
  font-weight:500;
  line-height: 1.1 !important;
  margin-top: 3%;
  font-size: 1.7rem;
}

section#testimonials-backup2 .section-testimonials__item--left strong{
  font-weight:500;
  line-height: 1.1 !important;
  margin-top: 3%;
  font-size: 1.7rem;
}


/* 2560 SCREENS */

@media(width:2560px){

  section#testimonials-backup{
    margin-top: -5% !important;
  }

  section#testimonials-backup2{
    margin-top: -4.5% !important;
  }

}

/* MOBILE RESPONSIVENESS */

@media(max-width:767px){
  .hero__bonus2 {
    font-size: 1.3rem;
  }
}


/* STEP SECTION */
/* styles for new testimonials section new items */

.hero__bonus3 {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  font-weight:500;
}

span.highlight-underline{
  text-decoration: underline;
  -webkit-text-decoration-color: #ff3247;
  -moz-text-decoration-color: #ff3247;
  text-decoration-color: #ff3247;
  font-weight: 400;
}

.hero__bonus5 {
  font-size: 1.3rem !important;
  line-height: 1.5;
  color: #04273c;
  font-weight: bolder;
  text-align: center;
  margin-top: -2.5% !important;
  margin-bottom: 5% !important;
  font-weight:500 !important;
  text-align: center;
}

.step .btn--step{
  font-size: 1rem;
  padding: 15px 28px;
  margin-left:-5%;
  margin-right: -5%;
}

.step .btn--step:hover{
  background: #fff;
  border: 2px solid rgb(4, 39, 60);
  color:rgb(4, 39, 60);
  border-radius: 0;
}

/* MOBILE RESPONSIVENESS */

@media(max-width:767px){
  .step .btn--step{
    line-height:1.3;
  }
}


/* PARTNER SECTION */
/* styles for partner section */

.partner--sales .btn{
  font-size: 1rem;
  padding: 15px 35px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.35;
}

.partner--sales .btn:hover{
  background: #fff;
  border: 2px solid #ff3247;
  color:#ff3247;
  border-radius: 0;
}

span.sale-font{
  font-weight:800;
  font: size 1.45rem;
  text-decoration: underline;
  text-decoration-color: #ff3247;
}

ul.bonus-align{
  margin-left: -4.5%;
}


/* SALES SECTION */
/* styles for saltes */

.inline-bonus-list{
  margin-left: 2.5%;
}

@media(max-width:767px){
  .inline-bonus-list{
    margin-left: 5%;
  }
}


/* FAQ SECTION */
/* styles for faq */

.section-content--faq .btn:hover{
  background: #fff;
  border: 2px solid #ff3247;
  color:#ff3247;
  border-radius: 0;
}

.hero--sales .btn-outline-light:focus svg, .hero--sales .btn-outline-light:hover svg {
  stroke: #fff;
}

.hero__cta-wrapper{
  margin:0 auto;
  width: 65%;
  margin-bottom: 5%;
}

@media(max-width:767px){
  .hero__cta-wrapper{
    width: 100%;
  }
}

.section-experience__body{
  background-image:url("https://www.howtogettheguy.com/site/wp-content/uploads/2022/10/experience-bg.jpg");
}

/* NEW BONUS SECTION */

h1.bonus-highlight{
  font-size:1.3rem;
  font-weight:500;
  line-height: 1.4;
  margin-top: 10%;
  color:#04273c;
}

h1.bonus-highlight-2{
  font-size:1.8rem;
  font-weight:500;
  line-height: 1.2;
  color:#04273c;
  margin-top: 8%;
  text-decoration: underline;
  text-decoration-color: #ff3247;
}

p.bonus-sub{
  font-size:1.15rem;
  color:#04273c;
  margin-top: 5%;
  line-height: 1.4;
}

p.bonus-sub-2{
  font-size:1.4rem;
  color:#04273c;
  margin-top: 7%;
  line-height: 1.4;
}

li.bonus-end{
  font-size:1.3rem;
  color:#04273c;
  margin-top: 5%;
  line-height: 1.4;
  font-weight: 500;
  margin-top: 8%;
}

span.highlight-underline-bonus{
  text-decoration: underline;
  text-decoration-color: #ff3247;
  font-weight: 500;
}

section#testimonials-backup-bonus .section-testimonials__item--left{
  padding: 30px;
  background-color: #fff;
  border: 5px dashed #04273c;
}

section#testimonials-backup-bonus .section-testimonials__item--right{
  padding: 30px;
  background-color: #fff;
  border: 5px dashed #ff3247;
}

section#testimonials-backup-bonus img{
  width: 70%;
}

section#testimonials-backup-bonus {
  margin-top: -8%;
}

h1.inline-list-limited{
  font-size: 24px;
  line-height:1.1;
  font-weight: 600;
}

span.color{
  color:#f54b5d;
}


/* MOBILE */

section#testimonials-backup-bonus img{
  width: 100%;
}

section#testimonials-backup-bonus .section-testimonials__item--left{
  padding: 5px;
  border: 3px dashed #04273c;
}

section#testimonials-backup-bonus .section-testimonials__item--right{
  padding: 5px;
  border: 3px dashed #04273c;
}

h1.bonus-highlight{
  font-size:1.2rem;
}

p.bonus-sub{
  font-size:1.05rem;
  margin-top: 8%;
}

section#testimonials-backup img{
  width: 80%;
}

section#testimonials-backup img{
  width: 80%;
}

h1.inline-list-limited{
  font-size: 20px;
  line-height:1;
  font-weight: 600;
}
